@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);





.wrap{
	max-width: 600px;
	margin:150px auto;
	margin-top: 100px;
}

.type-wrap{
	margin:10px auto;
	padding:20px;
	background:#f0f0f0;
	border-radius:5px;
	border:#CCC 1px solid;
	color:#000;
}

.links{
	margin:20px 0;
	font-size: 0.75em;
	text-align: center;
	color:red;
}

       /* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
